client/.DS_Store
client/package-lock.json
server/package-lock.json

client/node_modules
/dist
node_modules/*
server/node_modules/*
client/node_modules/*

# local env files
.env.local
.env.*.local

# Log files
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# Editor directories and files
client/.idea
client/.vscode
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?

server/node_modules

.DS_Store
src/config.js
*.timestamp-*.mjs
